/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

.menuselection { font-weight: bold; }

.rst-versions a { color:#455560; }
.wy-tray-container li.wy-tray-item-info { background:#455560; }
.btn-info { background-color:#455560; }
.btn-link { color:#455560; }
.wy-dropdown-menu > dd > a:hover { background:#455560; }
.wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu a:hover { background:#455560; }
.wy-inline-validate.wy-inline-validate-info .wy-input-context { color:#455560; }
a { color:#455560; }
.wy-text-info { color:#455560; }
.wy-menu-vertical a:active { background-color:#455560; }
.wy-side-nav-search img { background-color:#455560; }
.wy-nav .wy-menu-vertical header { color:#455560; }
.wy-nav-top { background:#455560; }
.wy-nav-top img { background-color:#455560; }
.bd-content a tt,.bd-content a tt,.bd-content a code { color:#455560; }
.bd-content dl:not(.field-list) > dt { color: #455560 !important; background-color: rgb(248, 248, 248) !important; border: 1px solid #e1e4e5 !important; border-top-color: #455560 !important; border-top-width: 3px !important; padding: 12px !important; }
div.section#format div.highlight-gauss { border-top-width: 3px; border-top-color: #455560; }
dt code.descname { color: #00557f; }
.rst-versions { display: none; }
.bd-content .toctree-wrapper p.caption, h1, h2, h3, h4, h5, h6, legend {
  font-family: Lato;
}

.icon-large span.fa { font-size: 3rem; }

a.btn-outline-primary:hover { color: #fff !important; background-color: #455560 !important; border-color: #455560 !important; }
.btn-outline-primary, .btn-outline-primary:visited { color: #455560 !important; border-color: #455560 !important; }

.bd-content .field-list th { border: none !important; }

table { display: table !important; border: 1px solid #e1e4e5; width: auto !important; }

nav.navbar {
    background: #fff !important;
    padding: 10px;
}

a.nav-link {
    font-size: 20px;
}

.navbar-light .navbar-nav li a.nav-link {
    color: #000;
}

div#navbar-start {
	margin: 0 auto;
}

img.logo {
    height: initial;
}

.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) {
 margin-bottom:24px;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt {
 display:table;
 margin:6px 0;
 font-size:90%;
 line-height:normal;
 background:#e7f2fa;
 color:#2980b9;
 border-top:3px solid #6ab0de;
 padding:6px;
 position:relative;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt:before {
 color:#6ab0de;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt .headerlink {
 color:#404040;
 font-size:100%!important;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt {
 margin-bottom:6px;
 border:none;
 border-left:3px solid #ccc;
 background:#f0f0f0;
 color:#555;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dl:not(.field-list)>dt .headerlink {
 color:#404040;
 font-size:100%!important;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)>dt:first-child {
 margin-top:0;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code,
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt {
 font-weight:700;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descclassname,
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname,
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descclassname,
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
 background-color:transparent;
 border:none;
 padding:0;
 font-size:100%!important;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname,
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) tt.descname {
 font-weight:700;
}
.bd-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .optional {
 display:inline-block;
 padding:0 4px;
 color:rgba(var(--pst-color-paragraph),1);
 font-weight:300;
}

:root {
    --pst-color-primary: 64, 64, 64 !important;
    --pst-color-active-navigation: 64, 64, 64 !important;
}
